body {
  font-family: Helvetica, Arial, sans-serif;
  color: rgb(70, 70, 89);
  font-size: 18px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}
.main-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 2rem;
  margin: 0;
  background-color: white;
  /* box-shadow: rgba(100, 100, 111, 0.341) 0px 7px 29px 0px; */
  z-index: 2;
}
#logo {
  color: rgb(70, 70, 89);
  font-size: 18px;
  min-width: 180px;
}

#logo:hover {
  color: #f3406a;
}

strong {
  color: #f3406a;
}
a {
  text-decoration: none;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 600px;
}

.navButtons {
  color: rgb(70, 70, 89);
  font-weight: 500;
}

.navButtons:hover {
  color: #f3406a;
}

.buttonProjeto{
  background-image: linear-gradient(135deg, #f34079 40%, hsl(21, 97%, 65%));
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
  padding: 8px;
}
.buttonProjeto:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.hero {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(253, 232, 236, 0.482);
}
.hero h2 {
  max-width: 500px;
  font-size: 28px;
}
#fotoperfil {
  width: 300px;
  margin: 1rem;
  border-radius: 100%;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(45deg, hsl(33, 100%, 73%), rgb(221, 25, 84)) border-box;
  border: 5px solid transparent;
}
h3 {
  color: #f3406a;
  font-size: 24px;
  margin-bottom: 0;
}
#tecnologias {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills{
  display: flex;
  flex-direction: column;
  font-size: smaller;
  align-items: center;
  margin: 1.5rem;
  font-size: 14px;
}
.icones {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.icons {
  width: 50px;
  margin-bottom: 8px;
}

#sobre {
  background-color: rgba(253, 232, 236, 0.482);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2rem;
}

.conteudoSobre {
  display: flex;
  align-items: center
}

.imgSobre {
  width: 150px;
  height: 150px;
  margin-right: 2rem;
}

#sobre p {
  max-width: 700px;
  line-height: 2;
}

#projetos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  /* max-width: 1500px; */
  margin: auto;
  /* width: 100%; */
}

.divProjetos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 2rem;
}

.card {
  background: rgba(253, 232, 236, 0.482);
  /* background-color: rgb(231, 231, 231); */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
  border-radius: 8px;
  gap: 2rem;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  /* height: 300px; */
  width: 800px;
}
.card h4 {
  font-size: x-large;
  margin-top: 0;
  margin-bottom: 0;
}
.card h5 {
  font-size: medium;
  font-weight: 400;
  margin-bottom: 0;
}
.card ul {
  margin: 8px 0;
}
.cardReverse{
  flex-direction: row-reverse;
}
.tags{
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.tags li {
  list-style: none;
  background: #f3406a;
  color: white;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  margin: 4px;
  padding: 0 6px;
  border-radius: 14px;
  font-size: 14px;
  /* font-weight: bold; */
}

.tags li:first-child {
  margin-left: 0;
}

.linkProjetos {
  border-style: solid;
  border-color: #f3406a;
  border-radius: 6px;
  width: 70px;
  padding: 2px 4px;
  font-size: 14px;
  text-decoration: none;
  color:#f3406a;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.linkProjetos img {
  width: 14px;
}

.imgProjetos {
  max-width: 400px;
}

#contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

#contato p {
  display: flex;
  align-items: center;
}

.WrapperButtonsContato {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.buttonContato {
  background-image: linear-gradient(135deg, #f34079 40%, hsl(21, 97%, 65%));
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 10px 16px;
  margin: 1rem;
}
.buttonContato:hover{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;}

.buttonContato img {
  width: 40px;
  margin-right: 1rem;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  margin-top: 1rem;
}

@media (max-width: 765px) {
  .imgProjetos {
    max-width: 400px;
  }
  .card{
    flex-direction: column;
    max-width: 500px;
    padding: auto;
    align-items: center;
  }
}

 @media (max-width: 563px) {
  .hero {
    flex-direction: column;
  }
  nav {
    justify-content: flex-end;
  }
  .navButtons {
    display: none;
  }
  #fotoperfil {
    width: 200px;
  }
  .hero h2 {
    font-size: 20px;
  }
  .conteudoSobre {
    flex-direction: column;
  }
  .conteudoSobre {
    flex-direction: column-reverse;
  }
  .imgSobre {
    margin: 1rem 0;
    width: 100px;
    height: 100px;
  }
  .WrapperButtonsContato {
    flex-direction: column;
  }
  .card{
    max-width: 300px;
  }
 
  .imgProjetos {
    width: 250px;
  }
 }